{
    "presets": [
        "@babel/preset-env",
        ["@babel/preset-typescript",{"allowDeclareFields":true}],
        "minify"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": "./src/",
                "extensions": [
                    ".ts"
                ]
            }
        ],
        ["@babel/plugin-proposal-decorators", { "legacy": true }]
    ]
}