{
    "presets": [
        "@babel/preset-typescript",
        "@babel/preset-env",
        "minify"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": "./src/",
                "extensions": [
                    ".ts"
                ]
            }
        ],
        ["@babel/plugin-proposal-decorators", { "legacy": true }]
    ]
}